# --- AMBIENTE VIRTUALE ---
.venv/
venv/
env/

# --- DATASET (I file .h5 di PCam sono enormi!) ---
data/
*.h5
camelyonpatch_level_2_split_*.h5

# --- MODELLI SALVATI ---
models/
*.keras
CNN_from_scratch.keras

# --- NOTEBOOK & TEMPORARY ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/
__pycache__/
*.py[cod]

# --- IDE & SYSTEM ---
.vscode/
.DS_Store
Thumbs.db